
INST "rm_result_0" LOC = SLICE_X10Y140;
INST "rm_result_1" LOC = SLICE_X10Y140;
INST "rm_result_2" LOC = SLICE_X10Y140;
INST "rm_result_3" LOC = SLICE_X10Y140;
INST "rm_result_4" LOC = SLICE_X10Y141;
INST "rm_result_5" LOC = SLICE_X10Y141;
INST "rm_result_6" LOC = SLICE_X10Y141;
INST "rm_result_7" LOC = SLICE_X10Y141;
INST "rm_result_8" LOC = SLICE_X10Y142;
INST "rm_result_9" LOC = SLICE_X10Y142;
INST "rm_result_10" LOC = SLICE_X10Y142;
INST "rm_result_11" LOC = SLICE_X10Y142;
INST "rm_result_12" LOC = SLICE_X10Y143;
INST "rm_result_13" LOC = SLICE_X10Y143;
INST "rm_result_14" LOC = SLICE_X10Y143;
INST "rm_result_15" LOC = SLICE_X10Y143;
INST "rm_result_16" LOC = SLICE_X10Y144;
INST "rm_result_17" LOC = SLICE_X10Y144;
INST "rm_result_18" LOC = SLICE_X10Y144;
INST "rm_result_19" LOC = SLICE_X10Y144;
INST "rm_result_20" LOC = SLICE_X10Y145;
INST "rm_result_21" LOC = SLICE_X10Y145;
INST "rm_result_22" LOC = SLICE_X10Y145;
INST "rm_result_23" LOC = SLICE_X10Y145;
INST "rm_result_24" LOC = SLICE_X10Y146;
INST "rm_result_25" LOC = SLICE_X10Y146;
INST "rm_result_26" LOC = SLICE_X10Y146;
INST "rm_result_27" LOC = SLICE_X10Y146;
INST "rm_result_28" LOC = SLICE_X10Y147;
INST "rm_result_29" LOC = SLICE_X10Y147;
INST "rm_result_30" LOC = SLICE_X10Y147;
INST "rm_result_31" LOC = SLICE_X10Y147;
INST "rm_statistic_0" LOC = SLICE_X19Y144;
INST "rm_statistic_1" LOC = SLICE_X19Y144;
INST "rm_statistic_2" LOC = SLICE_X19Y144;
INST "rm_statistic_3" LOC = SLICE_X19Y144;
INST "rm_statistic_4" LOC = SLICE_X19Y145;
INST "rm_statistic_5" LOC = SLICE_X19Y145;
INST "rm_statistic_6" LOC = SLICE_X19Y145;
INST "rm_statistic_7" LOC = SLICE_X19Y145;
INST "rm_statistic_8" LOC = SLICE_X19Y146;
INST "rm_statistic_9" LOC = SLICE_X19Y146;
INST "rm_statistic_10" LOC = SLICE_X19Y146;
INST "rm_statistic_11" LOC = SLICE_X19Y146;
INST "rm_statistic_12" LOC = SLICE_X19Y147;
INST "rm_statistic_13" LOC = SLICE_X19Y147;
INST "rm_statistic_14" LOC = SLICE_X19Y147;
INST "rm_statistic_15" LOC = SLICE_X19Y147;

INST "rm_result_0" BEL = AFF;
INST "rm_result_1" BEL = BFF;
INST "rm_result_2" BEL = CFF;
INST "rm_result_3" BEL = DFF;
INST "rm_result_4" BEL = AFF;
INST "rm_result_5" BEL = BFF;
INST "rm_result_6" BEL = CFF;
INST "rm_result_7" BEL = DFF;
INST "rm_result_8" BEL = AFF;
INST "rm_result_9" BEL = BFF;
INST "rm_result_10" BEL = CFF;
INST "rm_result_11" BEL = DFF;
INST "rm_result_12" BEL = AFF;
INST "rm_result_13" BEL = BFF;
INST "rm_result_14" BEL = CFF;
INST "rm_result_15" BEL = DFF;
INST "rm_result_16" BEL = AFF;
INST "rm_result_17" BEL = BFF;
INST "rm_result_18" BEL = CFF;
INST "rm_result_19" BEL = DFF;
INST "rm_result_20" BEL = AFF;
INST "rm_result_21" BEL = BFF;
INST "rm_result_22" BEL = CFF;
INST "rm_result_23" BEL = DFF;
INST "rm_result_24" BEL = AFF;
INST "rm_result_25" BEL = BFF;
INST "rm_result_26" BEL = CFF;
INST "rm_result_27" BEL = DFF;
INST "rm_result_28" BEL = AFF;
INST "rm_result_29" BEL = BFF;
INST "rm_result_30" BEL = CFF;
INST "rm_result_31" BEL = DFF;
INST "rm_statistic_0" BEL = AFF;
INST "rm_statistic_1" BEL = BFF;
INST "rm_statistic_2" BEL = CFF;
INST "rm_statistic_3" BEL = DFF;
INST "rm_statistic_4" BEL = AFF;
INST "rm_statistic_5" BEL = BFF;
INST "rm_statistic_6" BEL = CFF;
INST "rm_statistic_7" BEL = DFF;
INST "rm_statistic_8" BEL = AFF;
INST "rm_statistic_9" BEL = BFF;
INST "rm_statistic_10" BEL = CFF;
INST "rm_statistic_11" BEL = DFF;
INST "rm_statistic_12" BEL = AFF;
INST "rm_statistic_13" BEL = BFF;
INST "rm_statistic_14" BEL = CFF;
INST "rm_statistic_15" BEL = DFF;

